@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Bold.woff') format('woff'),
        url('fonts/TTLakes-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Regular.woff') format('woff'),
        url('fonts/TTLakes-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Medium.woff') format('woff'),
        url('fonts/TTLakes-Medium.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    text-decoration: inherit;
    background-color: inherit;
}

li {
    list-style: none;
}

.wrapper {
    min-width: 320px;
    background-color: #F8F8F8;
    margin: 0 auto;
    font-family: 'TT Lakes', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.header {
    display: flex;
    width: 100%;
    height: 88px;
}

.upper-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #D9FFF5;
}

.upper-menu__link {
    display: block;
    width: fit-content;
}

.upper-menu__link-burger {
    background: url("img/burger.svg") no-repeat 50% 50%;
}

.upper-menu__link-phone {
    background: url("img/phone.svg") no-repeat 50% 50%;
}

.upper-menu__link-message {
    background: url("img/message.svg") no-repeat 50% 50%;
}

.upper-menu__link-contact {
    background: url("img/contact.svg") no-repeat 50% 50%;
}

.upper-menu__link-settings {
    background: url("img/settings.svg") no-repeat 50% 50%;
}

.upper-menu__link-search {
    background: url("img/search.svg") no-repeat 50% 50%;
}

.visualitty-hidden {
    visibility: hidden;
}

.upper-menu__item--hidden {
    display: none;
}

.upper-menu__item--border-left {
    border-left: 2px solid #EAEAEA;
    padding-left: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 16px;
}

.main-header__menu {
    display: none;
}

.main-header__tilte {
    position: relative;
    font-family: 'TT Lakes', sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 40px;
}

.main-header__tilte::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 40px;
    background: #41F6D7;
    left: -16px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.main-header__link-settings {
    background: url("img/settings.svg") no-repeat 50% 50%;
}

.main-header__link-search {
    background: url("img/search.svg") no-repeat 50% 50%;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
}

.navigation__list {
    display: flex;
    overflow-x: scroll;
    white-space: pre;
}

.navigation__list::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.navigation__item {
    padding: 8px 16px;
    color: #7E7E82;
}

.navigation__item:hover {
    padding: 6px 14px;
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.about__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.about__full-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.about__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.about__text--hidden {
    display: none;
}

.about__button {
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 15px;
    margin-left: 6px;
    cursor: pointer;
    letter-spacing: -0.2px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    
}

.about__button-image {
    background: url("img/arrow.svg") no-repeat 100% 100%;
    padding: 6px;
}

.about__image {
    margin: 0 -16px;
}

@media (min-width: 768px) and (max-width: 1120px) {

    .wrapper {
        min-width: 768px;
    }

    .upper-menu__item--shift-left {
        flex-grow: 0.6;
    }

    .upper-menu__item--border-right {
        border-right: 2px solid #EAEAEA;
        padding-right: 24px;
    }

    .upper-menu__item--hidden {
        display: block;
    }

    .main {
        gap: 32px;
        padding: 24px;
    }

    .main-header__tilte::before {
        left: -24px;
    }

    .about__content {
        display: flex;
        flex-direction: row;
        gap: 64px;
        padding-right: 25px;
    }

    .about__full-text {
        width: 310px;
    }

    .about__text {
        line-height: 20px;
    }

    .about__text--hidden {
        display: block;
        height: 36px;
        overflow: hidden;
        margin-top: 4px;
    }

    .about__image {
        flex-grow: 1;
        width: 360px;
        height: auto;
        border-radius: 6px;
    }

    .about__text--bold {
        line-height: 24px;
    }
}

@media (min-width: 1121px) {

    .wrapper {
        width: 1120px;
    }

    .header {
        display: none;
    }

    .main {
        padding-top: 18px;
    }

    .main-header {
        display: flex;
        justify-content: space-between;
    }
    
    .main-header__tilte::before {
        left: -32px;
    }

    .main-header__menu {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    .main-header__link {
        display: flex;
        align-items: center;
        gap: 8px;
        color: #1B1C21;
        font-weight: 500;
    }

    .navigation__list {
        flex-wrap: wrap;
        overflow-x: visible;
    }

    .main {
        gap: 20px;
        padding: 42px 32px;
    }

    .about__content {
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    .about__full-text {
        width: 490px;
    }

    .about__text {
        line-height: 20px;
    }

    .about__text--hidden {
        display: block;
        margin-top: 4px;
    }

    .about__button {
        line-height: 24px;
    }

    .about__image {
        width: 532px;
        height: auto;
        border-radius: 6px;
    }
}
